<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || "Danger" %></title>

    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag  "https://code.jquery.com/jquery-3.0.0.slim.min.js" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>